<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#f96510" />
    <link rel="apple-touch-icon" href="/icons/apple-icon-192x192.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/1d83fb6d3e.js" crossorigin="anonymous"></script>
    <title>Restoran Nusantara</title>
  </head>
  <body>
    <div class="nav-skip">
      <a class="nav-skip__link" href="#main-content" tabindex="0"
        >Skip To Main Content</a
      >
    </div>
    <header>
      <nav class="navbar">
        <button
          class="navbar__hum-button"
          id="toggle-nav"
          tabindex="0"
          aria-label="Toggle Drawer Button"
        >
          <div></div>
          <div></div>
          <div></div>
        </button>
        <h1 class="navbar__brand">Resto Nusantara</h1>
        <ul class="navbar__nav">
          <li class="nav__item">
            <a href="#/" class="nav__link" tabindex="0">Home</a>
          </li>
          <li class="nav__item">
            <a href="#/favorite" class="nav__link" tabindex="0">Favorite</a>
          </li>
          <li class="nav__item">
            <a href="https://github.com/Ukayy" class="nav__link" tabindex="0"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
      <nav class="drawer" id="drawer">
        <ul class="drawer__nav">
          <li class="drawer__item">
            <a href="#/" class="drawer__link" tabindex="0">Home</a>
          </li>
          <li class="drawer__item">
            <a href="#/favorite" class="drawer__link" tabindex="0">Favorite</a>
          </li>
          <li class="drawer__item">
            <a href="https://github.com/Ukayy" class="drawer__link" tabindex="0"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main id="main-content"></main>
    <footer class="footer">
      <span>Copyright &copy; 2021 Resto Nusantara</span>
    </footer>
  </body>
</html>
